<!--==========================
		Intro Section
	============================-->
<main id="main">
    <section id="intro">
        <div class="intro-container wow fadeIn">
            <img src="img/logomain.png"><br><br>
            <h1 class="mb-4 pb-0">Conferencias y Talleres<br><span> Seguridad Informática</span> </h1>
            <p class="mb-4 pb-0">5 de Octubre, Informatorio.<br>Resistencia, Chaco.</p>
            <a href="" ng-click="scrollTo('about')" target="_self" class="about-btn scrollto">Descripción</a>
        </div>
    </section>

    <!--==========================
			About Section
		============================-->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Sobre el Evento</h3>
                    <p>Una jornada llena de la información que buscás para protegerte vos y a los que querés del ciberdelito, cómo reconocer estafas y cómo actuar. Y profesionales reconocidos a nivel nacional e internacional que van a enseñar secretos del mundo de la seguridad informática.</p>
                </div>
                <div class="col-lg-3">
                    <h3>Dónde?</h3>
                    <p>Informatorio<br>A. Illia 1055<br> Resistencia, Chaco</p>
                </div>
                <div class="col-lg-3">
                    <h3>Cuándo? </h3>
                    <p>Sábado<br>5 de Octubre de 2019</p>
                </div>
            </div>
        </div>
    </section>

    <!--==========================
			Speakers Section
		============================-->
    <section id="speakers" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>SPEAKERS</h2>
                <p>Conocé a los disertantes del evento.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="img/speakers/wrobel.png" alt="Alejandra Wrobel" class="img-fluid">
                        <div class="details">
                            <h3><a ng-href="/#!/wrobel">Alejandra Wrobel</a></h3>
                            <p>Jefa de Dpto de Ciberseguridad <br> Subsecretaría de Modernización del Chaco</p>
                            <div class="social">
                                <a target="_blank" href="https://www.linkedin.com/in/alejandra-wrobel/"><i
                                        class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="img/speakers/pereira.jpg" alt="Georgina Pereira" class="img-fluid">
                        <div class="details">
                            <h3><a ng-href="/#!/pereira">Georgina Pereira</a></h3>
                            <p>
                                Soporte de firma digital y oficial de registro<br>
                                Poder Ejecutivo del Chaco</p>
                            <div class="social">
                                <a target="_blank" href="https://www.linkedin.com/in/georgina-pereira-96b11314/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="img/speakers/no-image.jpg" alt="Analía Martínez" class="img-fluid">
                        <div class="details">
                            <h3><a ng-href="/#!/martinez-quaranta-suarez">Analía Martínez</a></h3>
                            <p>Perito en Informática Forense<br>
                            Coordinadora - CER</p>
                            <div class="social"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="img/speakers/quaranta.jpg" alt="Juan Quaranta" class="img-fluid">
                        <div class="details">
                            <h3><a ng-href="/#!/martinez-quaranta-suarez">Juan Quaranta</a></h3>
                            <p>Perito en Informática Forense<br>
                            Coordinador Contención a la Víctima - CER</p>
                            <div class="social"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="img/speakers/no-image.jpg" alt="Leandro Suárez" class="img-fluid">
                        <div class="details">
                            <h3><a ng-href="/#!/martinez-quaranta-suarez">Leandro Suárez</a></h3>
                            <p>Perito en Informática Forense<br>
                            Coordinador Técnico</p>
                            <div class="social"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="img/speakers/schmitman.jpg" alt="Mara Schmitman" class="img-fluid">
                        <div class="details">
                            <h3><a href="/#!/schmitman">Mara Schmitman</a></h3>
                            <p>Especialista en Gestión estratégica de RRHH<br>
                            Fundadora de Schmitman HR</p>
                            <div class="social">
                                <a target="_blank" href="https://twitter.com/fenomena"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="https://www.facebook.com/maraschmitman"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="https://www.linkedin.com/in/maraschmitman/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="img/speakers/escobar.jpg" alt="Eduardo Escobar" class="img-fluid">
                        <div class="details">
                            <h3><a href="/#!/escobar">Eduardo Escobar</a></h3>
                            <p>División Delitos Tecnológicos<br>Policía del Chaco</p>
                            <div class="social">
                                <a target="_blank" href="https://www.linkedin.com/in/carlos-eduardo-escobar-58660899/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="img/speakers/aybar.jpg" alt="Ruben Darío Aybar" class="img-fluid">
                        <div class="details">
                            <h3><a ng-href="/#!/aybar">Ruben Darío Aybar</a></h3>
                            <p>Especialista en seguridad de la información<br> en Educar Tecnología Educativa</p>
                            <div class="social">
                                <a target="_blank" href="https://www.linkedin.com/in/raybar18/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="img/speakers/alvarez.jpg" alt="Rodolfo Alvarez" class="img-fluid">
                        <div class="details">
                            <h3><a ng-href="/#!/alvarez">Rodolfo Alvarez</a></h3>
                            <p>Programador web<br>Aficionado en seguridad informatica</p>
                            <div class="social">
                                <a target="_blank" href="https://www.linkedin.com/in/alvarezrodolfo/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="img/speakers/bustos.jpg" alt="Federico Bustos" class="img-fluid">
                        <div class="details">
                            <h3><a ng-href="/#!/bustos">Federico Bustos</a></h3>
                            <p>Seguridad informática<br>Seguridad informática</p>
                            <div class="social"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="img/speakers/toledo.jpg" alt="Facundo Martín Toledo" class="img-fluid">
                        <div class="details">
                            <h3><a ng-href="/#!/toledo">Facundo Martín Toledo</a></h3>
                            <p>Perito Informático<br>Poder Judicial de la Provincia del Chaco</p>
                            <div class="social">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="img/speakers/punch.png" alt="Andrés “Punch” Galeano" class="img-fluid">
                        <div class="details">
                            <h3><a href="/#!/punch">Andrés “Punch” Galeano</a></h3>
                            <p>Especialista en seguridad de la información<br> Fundador de hackear.com</p>
                            <div class="social">
                                <a target="_blank" href="https://www.linkedin.com/in/andresdgaleano/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--==========================
			Schedule Section
		============================-->
    <section id="schedule" class="section-with-bg">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>Programa</h2>
                <p>Mira todas las actividades y sus horarios</p>
            </div>

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#schedule-1" target="_self" role="tab" data-toggle="tab">Sala A</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#schedule-2" target="_self" role="tab" data-toggle="tab">Sala B</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#schedule-3" target="_self" role="tab" data-toggle="tab">Sala C</a>
                </li>

            </ul>

            <h3 alt="Las acreditaciones comienzan a las 9AM" class="sub-heading">Las acreditaciones comienzan a las 9 AM
            </h3>

            <div class="tab-content row justify-content-center">

                <!-- Schdule Conferences -->
                <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="schedule-1">

                    <div class="row schedule-item">
                        <div class="col-md-2"><time>09:00 a 10:00hs</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="img/speakers/punch.png" alt="Mi experiencia en el ámbito del hacking, por Andrés “Punch” Galeano">
                            </div>
                            <h4>Mi experiencia en el ámbito del hacking.</h4>
                            <p>Andrés “Punch” Galeano</p>
                        </div>
                    </div>

                    <div class="row schedule-item">
                        <div class="col-md-2"><time>10:00 a 11:00hs</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="img/speakers/alvarez.jpg" alt="Estafas en la red, por Rodolfo Alvarez">
                            </div>
                            <h4>Estafas en la red.</span></h4>
                            <p>Rodolfo Alvarez</p>
                        </div>
                    </div>

                    <div class="row schedule-item">
                        <div class="col-md-2"><time>11:00 a 12:00hs</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="img/speakers/aybar.jpg" alt='Gestores de Contraseñas "El Cofre de las Contraseñas",  por Ruben Aybar'>
                            </div>
                            <h4>Gestores de Contraseñas "El Cofre de las Contraseñas".</h4>
                            <p>Ruben Darío Aybar</p>
                        </div>
                    </div>

                    <div class="row schedule-item">
                        <div class="col-md-2"><time>12:00 a 16:00hs</time></div>
                        <div class="col-md-10">
                            <h4>Break y Espacio de Networking</h4>
                        </div>
                    </div>

                    <div class="row schedule-item">
                        <div class="col-md-2"><time>17:00 a 18:00hs</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="img/speakers/wrobel.png" alt="Alfabetización Digital, por Alejandra Wrobel">
                            </div>
                            <h4>Alfabetización Digital</h4>
                            <p>Alejandra Wrobel</p>
                        </div>
                    </div>

                    <div class="row schedule-item">
                        <div class="col-md-2"><time>18:00 a 19:00hs</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="img/speakers/toledo.jpg" alt="Protegiendo tu celular, por Facundo Toledo">
                            </div>
                            <h4>Protegiendo tu celular.</h4>
                            <p>Facundo Toledo</p>
                        </div>
                    </div>

                    <div class="row schedule-item">
                        <div class="col-md-2"><time>19:00 a 20:00hs</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="img/speakers/franco.jpg" alt="Deep Web. Mitos y verdades, por Jorge Franco">
                            </div>
                            <h4>Deep Web. Mitos y verdades</h4>
                            <p>Jorge Franco</p>
                        </div>
                    </div>

                    <div class="row schedule-item">
                        <div class="col-md-2"><time>20:00 a 21:00hs</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="img/speakers/bustos.jpg" alt="Manual del Paranoico, por Federico Bustos">
                            </div>
                            <h4>Manual del Paranoico</h4>
                            <p>Federico Bustos</p>
                        </div>
                    </div>

                </div>
                <!-- End Schdule Conferences -->

                <!-- Schdule Workshops -->
                <div role="tabpanel" class="col-lg-9  tab-pane fade" id="schedule-2">

                    <div class="row schedule-item">
                        <div class="col-md-2"><time>10:00 a 12:00hs</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="img/speakers/schmitman.jpg" alt="Buscar trabajo es un trabajo que nadie enseña, por Mara Schmitman">
                            </div>
                            <h4>Buscar trabajo es un trabajo que nadie enseña</h4>
                            <p>Mara Schmitman</p>
                        </div>
                    </div>

                    <div class="row schedule-item">
                        <div class="col-md-2"><time>12:00 a 16:00hs</time></div>
                        <div class="col-md-10">
                            <h4>Break y Espacio de Networking</h4>
                        </div>
                    </div>

                    <div class="row schedule-item">
                        <div class="col-md-2"><time>16:00 a 18:00hs</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="img/speakers/punch-aybar.jpg" alt="Kali Linux 2019, por Ruben Darío Aybar y Andrés Galeano">
                            </div>
                            <h4>Kali Linux 2019. El arsenal se actualiza!</h4>
                            <p>Ruben Darío Aybar y Andrés Galeano</p>
                        </div>
                    </div>

                    <div class="row schedule-item">
                        <div class="col-md-2"><time>18:00 a 19:00hs</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="img/speakers/no-image.jpg" alt="Sesiones, datos personales y claves. ¡Nada está a salvo!, por Ricardo López">
                            </div>
                            <h4>Sesiones, datos personales y claves. ¡Nada está a salvo!</h4>
                            <p>Ricardo López</p>
                        </div>
                    </div>

                    <div class="row schedule-item">
                        <div class="col-md-2"><time>19:00 a 20:00hs</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="img/speakers/fernandez.jpg" alt="Lightning network para un mundo descentralizado, por Joel N. Fernandez">
                            </div>
                            <h4>Lightning network para un mundo descentralizado.</h4>
                            <p>Joel N. Fernandez</p>
                        </div>
                    </div>

                </div>
                <!-- End Schdule Workshops -->

                <!-- Schdule Workshops -->
                <div role="tabpanel" class="col-lg-9  tab-pane fade" id="schedule-3">
                
                    <div class="row schedule-item">
                        <div class="col-md-2"><time>09:00 a 10:00hs</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="img/speakers/escobar.jpg" alt="OSINT, Investigación en Fuentes Abiertas, por Eduardo Escobar">
                            </div>
                            <h4>OSINT, Investigación en Fuentes Abiertas</h4>
                            <p>Eduardo Escobar</p>
                        </div>
                    </div>

                    <div class="row schedule-item">
                        <div class="col-md-2"><time>12:00 a 16:00hs</time></div>
                        <div class="col-md-10">
                            <h4>Break y Espacio de Networking</h4>
                        </div>
                    </div>

                    <div class="row schedule-item">
                        <div class="col-md-2"><time>18:00 a 20:00hs</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="img/speakers/no-image.jpg" alt="Huella Digital, por Analía Martínez, Juan Quaranta y Leandro Suarez">
                            </div>
                            <h4>Huella Digital</h4>
                            <p>Analía Martínez, Juan Quaranta y Leandro Suarez</p>
                        </div>
                    </div>

                    <div class="row schedule-item">
                        <div class="col-md-2"><time>20:00 a 21:00hs</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="img/speakers/pereira.jpg" alt="¿Firma Digital?, por Georgina Pereira">
                            </div>
                            <h4>¿Firma Digital?</h4>
                            <p>Georgina Pereira</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>

    <!--==========================
			Venue Section
		============================-->
    <section id="venue" class="wow fadeInUp">

        <div class="container-fluid">

            <div class="section-header">
                <h2>Lugar</h2>
                <p>Informatorio. A. Illia 1055. Resistencia, Chaco</p>
            </div>

            <div class="row no-gutters">
                <div class="col-lg-6 venue-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14161.05042423161!2d-58.9788066!3d-27.4610827!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6cc63aac9bf8073!2sInformatorio!5e0!3m2!1ses!2sar!4v1569294188415!5m2!1ses!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>

                <div class="col-lg-6 venue-info">
                    <div class="row justify-content-center">
                        <div class="col-11 col-lg-8">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid venue-gallery-container">
            <div class="row no-gutters">

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/1.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="img/venue-gallery/1.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/2.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="img/venue-gallery/2.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/3.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="img/venue-gallery/3.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/4.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="img/venue-gallery/4.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </section>




    <!--==========================
			Sponsors Section
		============================-->
    <!-- <section id="supporters" class="section-with-bg wow fadeInUp">

			<div class="container">
				<div class="section-header">
					<h2>Sponsors</h2>
				</div>

				<div class="row no-gutters supporters-wrap clearfix">

					<div class="col-lg-3 col-md-4 col-xs-6">
						<div class="supporter-logo">
							<img src="img/supporters/1.png" class="img-fluid" alt="">
						</div>
					</div>
					
					<div class="col-lg-3 col-md-4 col-xs-6">
						<div class="supporter-logo">
							<img src="img/supporters/2.png" class="img-fluid" alt="">
						</div>
					</div>
				
					<div class="col-lg-3 col-md-4 col-xs-6">
						<div class="supporter-logo">
							<img src="img/supporters/3.png" class="img-fluid" alt="">
						</div>
					</div>
					
					<div class="col-lg-3 col-md-4 col-xs-6">
						<div class="supporter-logo">
							<img src="img/supporters/4.png" class="img-fluid" alt="">
						</div>
					</div>
					
					<div class="col-lg-3 col-md-4 col-xs-6">
						<div class="supporter-logo">
							<img src="img/supporters/5.png" class="img-fluid" alt="">
						</div>
					</div>
				
					<div class="col-lg-3 col-md-4 col-xs-6">
						<div class="supporter-logo">
							<img src="img/supporters/6.png" class="img-fluid" alt="">
						</div>
					</div>
					
					<div class="col-lg-3 col-md-4 col-xs-6">
						<div class="supporter-logo">
							<img src="img/supporters/7.png" class="img-fluid" alt="">
						</div>
					</div>
					
					<div class="col-lg-3 col-md-4 col-xs-6">
						<div class="supporter-logo">
							<img src="img/supporters/8.png" class="img-fluid" alt="">
						</div>
					</div>

				</div>

			</div>

		</section> -->

    <!--==========================
			Team Section
		============================-->
    <!-- <section id="staff" class="wow fadeInUp">
			<div class="container">
				<div class="section-header">
					<h2>STAFF</h2>
					<p>Te presentamos a nuestro equipo de trabajo.</p>
				</div>

				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="speaker">
							<img src="img/speakers/1.jpg" alt="Speaker 1" class="img-fluid">
							<div class="details">
								<h3><a href="speaker-details.html">Brenden Legros</a></h3>
								<p>Quas alias incidunt</p>
								<div class="social">
									<a href=""><i class="fa fa-twitter"></i></a>
									<a href=""><i class="fa fa-facebook"></i></a>
									<a href=""><i class="fa fa-google-plus"></i></a>
									<a href=""><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="speaker">
							<img src="img/speakers/2.jpg" alt="Speaker 2" class="img-fluid">
							<div class="details">
								<h3><a href="speaker-details.html">Hubert Hirthe</a></h3>
								<p>Consequuntur odio aut</p>
								<div class="social">
									<a href=""><i class="fa fa-twitter"></i></a>
									<a href=""><i class="fa fa-facebook"></i></a>
									<a href=""><i class="fa fa-google-plus"></i></a>
									<a href=""><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="speaker">
							<img src="img/speakers/3.jpg" alt="Speaker 3" class="img-fluid">
							<div class="details">
								<h3><a href="speaker-details.html">Cole Emmerich</a></h3>
								<p>Fugiat laborum et</p>
								<div class="social">
									<a href=""><i class="fa fa-twitter"></i></a>
									<a href=""><i class="fa fa-facebook"></i></a>
									<a href=""><i class="fa fa-google-plus"></i></a>
									<a href=""><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="speaker">
							<img src="img/speakers/4.jpg" alt="Speaker 4" class="img-fluid">
							<div class="details">
								<h3><a href="speaker-details.html">Jack Christiansen</a></h3>
								<p>Debitis iure vero</p>
								<div class="social">
									<a href=""><i class="fa fa-twitter"></i></a>
									<a href=""><i class="fa fa-facebook"></i></a>
									<a href=""><i class="fa fa-google-plus"></i></a>
									<a href=""><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="speaker">
							<img src="img/speakers/5.jpg" alt="Speaker 5" class="img-fluid">
							<div class="details">
								<h3><a href="speaker-details.html">Alejandrin Littel</a></h3>
								<p>Qui molestiae natus</p>
								<div class="social">
									<a href=""><i class="fa fa-twitter"></i></a>
									<a href=""><i class="fa fa-facebook"></i></a>
									<a href=""><i class="fa fa-google-plus"></i></a>
									<a href=""><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="speaker">
							<img src="img/speakers/6.jpg" alt="Speaker 6" class="img-fluid">
							<div class="details">
								<h3><a href="speaker-details.html">Willow Trantow</a></h3>
								<p>Non autem dicta</p>
								<div class="social">
									<a href=""><i class="fa fa-twitter"></i></a>
									<a href=""><i class="fa fa-facebook"></i></a>
									<a href=""><i class="fa fa-google-plus"></i></a>
									<a href=""><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section> -->


    <!--==========================
			Contact Section
		============================-->
    <!-- <section id="contact" class="section-bg wow fadeInUp">

        <div class="container">

            <div class="section-header">
                <h2>Contactanos</h2>
                <p>Escribinos por cualquier consulta que tengas del evento.</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline"></i>
                        <h3>Dirección</h3>
                        <address>Catamarca 699, Resistencia, Chaco. </address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3>Whatsapp</h3>
                        <p><a target="_blank" href="https://wa.me/5493624985133">+54 9 362 4985133</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:info@example.com">autodefensadigital@protonmail.com</a></p>
                    </div>
                </div>

            </div>

            <div class="form">
                <div id="sendmessage">Tu mensaje fue enviado. Gracias!</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Nombre"
                                data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Mail"
                                data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto"
                            data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required"
                            data-msg="Please write something for us" placeholder="Mensaje"></textarea>
                        <div class="validation"></div>
                    </div>
                    <div class="text-center"><button type="submit">Enviar</button></div>
                </form>
            </div>

        </div>
    </section> -->
    <!-- #contact -->

</main>