<main id="main" class="main-page">

  <!--==========================
    Speaker Details Section
  ============================-->
  <section id="speakers-details" class="wow fadeIn">
    <div class="container">
      <div class="section-header">
        <h2>Acerca de los disertantes</h2>
        <p>Conocé quines van a dar las charlas.</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img src="img/speakers/alvarez.jpg" alt="Rodolfo Alvarez" class="img-fluid">
        </div>

        <div class="col-md-6">
          <div class="details">
            <h2>Rodolfo Alvarez</h2>
            <div class="social">
              <a href="https://www.linkedin.com/in/alvarezrodolfo/"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>Rodolfo Alvarez, programador y desarrollador web freelance, administrador de redes e investigador aficionado sobre seguridad informatica.</p>
            <p>Introdujo las primeras redes de mensajería (Fidonet) en el Nordeste argentino a través de su BBS.</p>
            <p>Con la aparición de Internet trabajó instalando módems, brindando soporte técnico, capacitando a nuevos usuarios, administrando servidores propios (WEB – SMTP – FTP) y desarrollando sistemas a medida para empresas locales y extranjeras.</p>
            <p>En la actualidad divide su tiempo entre las actividades laborales, de recreación y de estudio/investigación.</p>

            <p>Las estafas, fraudes y engaños existen desde siempre, pero los cambios tecnológicos permiten al estafador mejorar sus
            métodos y perfeccionarse. La irrupción de Internet nos expone a todos de formas impensadas y nos obliga a estar cada vez
            más atentos.</p>
          </div>
        </div>
        
      </div>
    </div>

  </section>

</main>
