<main id="main" class="main-page">

  <!--==========================
    Speaker Details Section
  ============================-->
  <section id="speakers-details" class="wow fadeIn">
    <div class="container">
      <div class="section-header">
        <h2>Acerca de los disertantes</h2>
        <p>Conocé quines van a dar las charlas.</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img src="img/speakers/aybar.jpg" alt="Speaker 1" class="img-fluid">
        </div>

        <div class="col-md-6">
          <div class="details">
            <h2>Rubén Dario Aybar</h2>
            <div class="social">
              <a target="_blank" href="https://www.linkedin.com/in/raybar18/"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>Raybar lleva 12 años trabajando en CyberSecurity, específicamente en Seguridad de aplicaciones web para BlueTeam.</p>
            
            <p>Participó en muchas conferencias como OWASP, PampaSeg, ParanaConf y otras.</p>
            
            <p>Era el líder del equipo de seguridad en una agencia gubernamental. Actualmente es Consultor Senior en Seguridad Cibernética de la "Red Multinacional de Servicios Profesionales".</p>

            <p>En la charla se intenta exponer una problemática que se encuentra todos los días para todas las personas, el problema de la dificultad que tenemos al manejar tantos servicios, una contraseña para cada uno de ellos, esto se puede resolver utilizando un "Gestor de Contraseñas" con una clave maestra.</p>
          </div>
        </div>
        
      </div>
    </div>

  </section>

</main>
