<main id="main" class="main-page">

  <!--==========================
    Speaker Details Section
  ============================-->
  <section id="speakers-details" class="wow fadeIn">
    <div class="container">
      <div class="section-header">
        <h2>Acerca de los disertantes</h2>
        <p>Conocé quines van a dar las charlas.</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img src="img/speakers/bustos.jpg" alt="Federico Bustos" class="img-fluid">
        </div>

        <div class="col-md-6">
          <div class="details">
            <h2>Federico Bustos</h2>
            <div class="social">
              <a target="_blank" href="https://www.linkedin.com/in/federico-bustos-194882a6/"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>Consultor e Investigador en Seguridad de la información.</p>
            <p>Escritor de varios papers en Seguridad Informática.</p>
            <p>Organizador de las Jornadas de Software Libre y Seguridad informática Pampaseg en La Pampa, Argentina.</p>

            <p>La tendencia de los ultimos tiempos de subir todo a la nube, contra la gran amenaza de las filtraciones, ponen a tela de juicio el valor de nuestra información y la cuestión de lo gratis de servicios que utilizamos a diario, redes sociales, emails hasta inclusive herramientas criptograficas.</p>
          </div>
        </div>
        
      </div>
    </div>

  </section>

</main>
