<main id="main" class="main-page">

    <!--==========================
    Speaker Details Section
  ============================-->
    <section id="speakers-details" class="wow fadeIn">
        <div class="container">
            <div class="section-header">
                <h2>Acerca de los disertantes</h2>
                <p>Conocé quines van a dar las charlas.</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="img/speakers/escobar.jpg" alt="Eduardo Escobar" class="img-fluid">
                </div>

                <div class="col-md-6">
                    <div class="details">
                        <h2>Eduardo Escobar</h2>
                        <div class="social">
                            <a target="_blank" href="https://www.linkedin.com/in/carlos-eduardo-escobar-58660899/"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <p>Eduardo Escobar trabaja realizando investigaciones en la División Delitos Tecnológicos -Policía del Chaco-</p>
                        <p>El uso de Osint -Open Source Intelligent- se ha vuelto una herramienta eficaz en las investigaciones.</p>
                        <p>Como buscar huellas digitales que las personas dejan en su paso por internet y presentar ante la justicia.</p>
                    </div>
                </div>

            </div>
        </div>

    </section>

</main>