<main id="main" class="main-page">

    <!--==========================
    Speaker Details Section
  ============================-->
    <section id="speakers-details" class="wow fadeIn">
        <div class="container">
            <div class="section-header">
                <h2>Acerca de los disertantes</h2>
                <p>Conocé quines van a dar las charlas.</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="img/speakers/no-image.png" alt="Speaker 1" class="img-fluid">
                </div>

                <div class="col-md-6">
                    <div class="details">
                        <h2>Analía Martínez, 
                        Juan Quaranta, 
                        Leandro Suárez</h2>
                        <p>Analía Martínez - Lic. en Sistemas de Información, Perito en Informática Forense, Docente de NIvel Terciario - COORDINADORA DE CER</p>
                        <p>Juan Quaranta - Tec. en Informática, Oficial de Policia (Sta Fe), Perito en Informática, Diplomado en Pericias Judiciales - COORDINADOR CONTENCIÓN A LA VÍCTIMA</p>
                        <p>Leandro Suarez - Tec. en Informática, Perito en Informática Forense, Diplomado en Pericias Judiciales - COORDINADOR TÉCNICO</p>

                        <p>La ONG Conciencia en Red considera que educar en el uso de las TIC desde una temprana edad ayuda a prevenir delitos como GROOMING y Acoso Virtual. Para ello es necesario educar a padres,docentes y adultos responsables sobre el buen uso de las TIC y darles herramientas para cuidarlos y cuidarse.</p>
                    </div>
                </div>

            </div>
        </div>

    </section>

</main>