<main id="main" class="main-page">

  <!--==========================
    Speaker Details Section
  ============================-->
  <section id="speakers-details" class="wow fadeIn">
    <div class="container">
      <div class="section-header">
        <h2>Acerca de los disertantes</h2>
        <p>Conocé quines van a dar las charlas.</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img src="img/speakers/no-image.png" alt="Georgina Pereira" class="img-fluid">
        </div>

        <div class="col-md-6">
          <div class="details">
            <h2>Georgina Pereira</h2>
            <div class="social">
              <a target="_blank" href="https://www.linkedin.com/in/georgina-pereira-96b11314/"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>Georgina Pereira es integrante de la Autoridad de Registro del Poder Ejecutivo del Chaco, su rol es el de responsable de soporte de firma digital y oficial de registro.</p>
            <p>Ingeniera y Analista en Sistemas de Información egresada en la UTN Regional Resistencia (Chaco).</p>
            <p>Actualmente está a cargo del Dpto de Implementación de Sistemas y Firma Digital, oficina dependiente de la Subsecretaría de Modernización del Estado de la Secretaría General de Gobierno y Coordinación de la provincia Chaco.</p>

            <p>¿Sabías que el uso de la firma digital en un documento electrónico tiene la misma validez jurídica que un documento en papel firmado de puño y letra (firma ológrafa)?<br>
            ¿Qué es firma digital?<br>
            ¿Para qué sirve?<br>
            ¿Qué beneficios tiene el uso?<br>
            ¿Por qué es confiable?</p>
          </div>
        </div>
        
      </div>
    </div>

  </section>

</main>
