<main id="main" class="main-page">

  <!--==========================
    Speaker Details Section
  ============================-->
  <section id="speakers-details" class="wow fadeIn">
    <div class="container">
      <div class="section-header">
        <h2>Acerca de los disertantes</h2>
        <p>Conocé quines van a dar las charlas.</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img src="img/speakers/punch.png" alt="Punch" class="img-fluid">
        </div>

        <div class="col-md-6">
          <div class="details">
            <h2>Andrés “Punch” Galeano</h2>
            <div class="social">
              <a target="_blank" href="https://www.linkedin.com/in/andresdgaleano/"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>Andrés Galeano posee vasto conocimiento en diseño, implementación y seguridad en redes de telefonía de código abierto.</p>
            <p>Cuenta con experiencia en la administración de sistemas con software libre, automatización y optimización de procesos.</p>
            <p>Respecto a su formación profesional, se encuentra cursando el segundo año de la carrera de Ingeniería en Sistemas en la Universidad Abierta Interamericana.</p>
            <p>En los últimos años, ha sido invitado a participar como orador en diferentes eventos relacionados con la seguridad de la información y ha dedicado parte de su tiempo libre a la conformación de un espacio web en el cual se informa, concientiza e instruye a personas que se inician en el ámbito de la seguridad informática.</p>

            <p>Punch nos va a contar como, sin tener conocimiento alguno, fue preguntando, investigando, conociendo gente y formando su experiencia.</p>
            <p>Desde tender un ciber chino, La finalidad de la charla es demostrar que cualquiera con voluntad y la ayuda de la comunidad puede hacer de su pasión un trabajo redituable.</p>
            <p>Trabajar en un callcenter, en sector de soporte técnico, analista de telefonía, soporte en una empresa de antivirus, especialista en seguridad, hasta responsable del área de seguridad de una fintech.</p>
            <p>También comentará lo que hizo paralelamente en el camino.</p>
          </div>
        </div>
        
      </div>
    </div>

  </section>

</main>
