<main id="main" class="main-page">

    <!--==========================
    Speaker Details Section
  ============================-->
    <section id="speakers-details" class="wow fadeIn">
        <div class="container">
            <div class="section-header">
                <h2>Acerca de los disertantes</h2>
                <p>Conocé quines van a dar las charlas.</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="img/speakers/schmitman.jpg" alt="Mara Schmitman" class="img-fluid">
                </div>

                <div class="col-md-6">
                    <div class="details">
                        <h2>Mara Schmitman</h2>
                        <div class="social">
                            <a target="_blank" href="https://twitter.com/fenomena"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="https://www.facebook.com/maraschmitman"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/in/maraschmitman/"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <p>Chaqueña :), Lic. en Psicología, Especialista en Gestión estratégica de RRHH, MDET (ITBA), fundadora de Schmitman HR.</p>
                        <p>Especialista en Organizaciones horizontales (redarquias, holocracias, sociocracias)</p>
                        <p>Organizadora del Recruitment Meetup Latam</p>
                        <p>Directora de Xeminio (Capacitaciones para Recruiters IT)</p>

                        <p>La idea general es hablar sobre las acciones y tensiones posibles durante la búsqueda de trabajo en el mercado IT</p>
                    </div>
                </div>

            </div>
        </div>

    </section>

</main>