<main id="main" class="main-page">

    <!--==========================
    Speaker Details Section
  ============================-->
    <section id="speakers-details" class="wow fadeIn">
        <div class="container">
            <div class="section-header">
                <h2>Acerca de los disertantes</h2>
                <p>Conocé quines van a dar las charlas.</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="img/speakers/no-image.png" alt="Facundo Martín Toledo" class="img-fluid">
                </div>

                <div class="col-md-6">
                    <div class="details">
                        <h2>Facundo Martín Toledo</h2>

                        <p>Facundo Toledo trabaja como Perito Informático de la Provincia del Chaco, realizando pericias para investigar causas penales y tiene más de seis años de experiencia.</p>
                        
                        <p>Durante la charla explicaré para el usuario común cuáles son los métodos de ataque a dispositivos móviles más comunes,
                        sus historias y repercusiones.</p>
                        <p>Mostraré cómo defenderse de ellos y como configurar sus dispositivos para obstaculizar a posibles atacantes.</p>
                        <p>Les daré consejos de como utilizarlos en redes inseguras.</p>
                        <p>Finalmente les mostraré cómo localizar un teléfono mediante su cuenta de Google.</p>
                    </div>
                </div>

            </div>
        </div>

    </section>

</main>