<main id="main" class="main-page">

  <!--==========================
    Speaker Details Section
  ============================-->
  <section id="speakers-details" class="wow fadeIn">
    <div class="container">
      <div class="section-header">
        <h2>Acerca de los disertantes</h2>
        <p>Conocé quines van a dar las charlas.</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img src="img/speakers/wrobel.png" alt="Alejandra Wrobel" class="img-fluid">
        </div>

        <div class="col-md-6">
          <div class="details">
            <h2>Alejandra Wrobel</h2>
            <div class="social">
              <a target="_blank" href="https://www.linkedin.com/in/alejandra-wrobel/"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>Alejandra Wrobel trabaja en la Subsecretaría de Modernización del Estado- P.E. Provincia del Chaco</p>

            <p>El avance de la tecnología y la penetración que tienen en nuestras vidas, nos coloca en la posición de asumir la responsabilidad de acompañar y orientar a nuestros niños/ adolescentes en la alfabetización digital. El concepto de Mediación Parental nos sirve como guía para llevar esta difícil tarea.</p>

            <p>Desde que quede a cargo del Departamento de Seguridad de la Información y Ciberseguridad, del P.E. de la Provincia del Chaco, creo que tenemos la responsabilidad social de acompañar a los ciudadanos en los temas de concientización digital.</p> 
          </div>
        </div>
        
      </div>
    </div>

  </section>

</main>
